html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  /* center everything on the page */
  display: flex;
  justify-content: center;
  align-items: center;
  /*  */

  background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84); 
}

h1 {
  margin-right: 3px;
}

.calculator {
  background: #373a40;
  width: 400px;
  border-radius: 12px;
  /* shadow for container */
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);
}

/* ==================== Display ==================== */
.calculator-display {
  background: #373a40;
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
  /* make numbers right-aligned */
  justify-content: flex-end;
  /* round up edges of container */
  border-radius: 10px 10px 0 0;
  max-width: 100%;
}

.calculator-display h1 {
  margin: 0;
  padding: 25px;
  font-size: 45px;
  font-family: "Lucida Console", sans-serif;
  font-weight: 100;
  /* add scrollbar */
  overflow-x: auto;
}

/* Custom Scrollbar (for windows) */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*  */

/* ==================== Buttons ==================== */
.calculator-buttons {
  display: grid;
  grid-gap: 10px;
  /* make 4 columns (buttons) in a row */
  grid-template-columns: repeat(4, 1fr);
  /* gap between buttons */
  padding: 15px;
  padding-right: 0;
}

button {
  min-height: 50px;
  font-size: 20px;
  font-weight: 100;
  border: none;
  background: rgb(200, 200, 200);
  cursor: pointer;
  width: 70px;
  height: 70px;
  line-height: 1.33;
  border-radius: 35px;

}

button:hover {
  filter: brightness(115%);
}

button:active {
  transform: translateY(1px);
}

button:focus {
  outline: none;
}

.operator {
  background: orange;
  color: white;
  font-size: 30px;
}

.clear {
  /* background: rgb(148, 147, 147); */
  background: orange;
  color: white;
}

.clear:hover {
  filter: brightness(90%);
}

.equal-sign {
 
  grid-column: -2;
  /* make button take 4 rows (starting at row 2) */
  /* grid-row: 2 / span 4; */
  grid-row: 3 / span 3;
  background: orange;
}

@media screen and (max-width: 600px) {
  .calculator {
    width: 95%;
  }
}
